* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
}
.body {
    height: 100vh;
    display: flex;
    

}
.bg {
    height: 100vh;
    background-image: url('source/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    position: relative;
    top: 15vh;
    color: rgba(245, 50, 180, 0.5);
    max-width: 85vw;
    height: auto;
    width: auto;
    margin: 0 10%;
    align-items: center;
    text-align: center;
    font-family: 'Roboto' ;
    font-weight: lighter;



}
.counter {
font-weight: bold;
}
.game {
  

    position: relative;
    top: 15vh;
    width: 80vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;


    
  }
  .memory-card {
    width: calc(50% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;   
     transition: all .5s;


  }
.memory-card:active {
    transform: scale(0.97);
     transition: transform .2s;
   }
.memory-card.flip {
 transform: rotateY(180deg);
 transition: transform 0.5s;

}
.front-face, .back-face {
    max-width: 95%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

  }
.front-face {
  transform: rotateY(180deg);
}

.advantage-img {
  /* display: none; */

  position: absolute;
  top: 14vh;
  width: 80%;
  margin-left: 8%;
}
 .clock {
  position: absolute;
  top: 0;
  display: none;
  /* opacity: 0; */

}
.couch {
  position: absolute;
  top: 0;
  /* opacity: 0; */
  display: none;
}
.marsha {
  position: absolute;
  top: 0;
  display: none;
  /* opacity: 0; */
}
.bag {
  position: absolute;
  top: 0;
  display: none;
  /* opacity: 0; */
}
.offer {
  display: none;
  width: 300px;
  position: absolute;
  top: 79vh;
  margin: 0 11%;
}

.cta-btn {
  position: absolute;
  top: 88vh;
  /* max-width: 70%; */
  width: auto;
  margin: 0 11%;
  display: none;
}
.solo {
  display: none;
}
*:focus {
  outline: none;
}

p {
  display: inline;
}
.back-face {
left: 1vw;
}